<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522563222655-mrva14d6a637isfb57mn6e2apaelc45s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522563222655-mrva14d6a637isfb57mn6e2apaelc45s</string>
	<key>API_KEY</key>
	<string>AIzaSyDzVZW34AMDmTRo4bfUSEoB_r9KWYm9aVg</string>
	<key>GCM_SENDER_ID</key>
	<string>522563222655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>top.hanerx.dcomic</string>
	<key>PROJECT_ID</key>
	<string>dcomic-93209</string>
	<key>STORAGE_BUCKET</key>
	<string>dcomic-93209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522563222655:ios:1da9bfe1c6049b0a43d34a</string>
	<key>DATABASE_URL</key>
	<string>https://dcomic-93209-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>